@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap');
body{
    font-family: "Ubuntu Condensed", sans-serif;
    /* font-size:20px ; */
}

#logo{
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.navbar-nav li a{
    font-size: 20px;
}
.nav-link:hover{
    color: rgb(12, 136, 253);
    font-size: 20px;

}

.card-title a{
    font-size: 30px;
    font-family: "Ubuntu Condensed", sans-serif;
}
.card-body p{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
}